.react-calendar__tile--now {
    background-color: transparent;
    text-decoration: underline 2px #FDE56B; /* 텍스트에 밑줄 */
}

.react-calendar__tile--active {
    background-color: #FDE56B;
    color:black;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #FDE56B;
}