.detailedSchedule {
  width: 100%;
}

.tabs {
  display: flex;
  gap: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  justify-content: flex-start;
  overflow-x: auto; /* 수평 스크롤 허용 */
  white-space: nowrap; /* 줄바꿈 방지 */
}

.tabButton {
  flex-shrink: 0;
  padding: 8px 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.tabButton.active {
  background-color: #ffa94f;
  color: #fff;
  border-color: #ffa94f;
}

.spotList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  overflow: hidden; /* 스크롤바 제거 */
}
