.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5F5;
}

.client-message{
    background-color: #FDE56B;
    color: #333;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top:auto;
}
.llm-message{
    background-color: #FDE56B;
    color: #333;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-flex; /* span 요소의 크기를 내용에 맞춤 */
    align-self: flex-start; 
}
.client-message:empty {
    display: none;
}
.calendar-style{
    display: flex;
    flex-direction: column;
}
.calendar{
    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: flex-start;
    height: 400px;
    gap:20px;
}
.with{
    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: flex-start;
    height: 110px;
    gap:20px;
}