.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 35px;
    margin: 90px 5px 20px 5px;
    display:flex;
    align-items: center;
}
.img{
    width: 35px;
    height: 35px;
    margin-left:5px;
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 50vh;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: white;

}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0;           /* 상단과 하단에만 여백 */
    width: 80%;               /* 화면 너비의 80%로 설정 */
    max-width: 400px;         /* 최대 너비 설정 */
}


.kakaoLoginButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-top:100px;
    font-size: 18px;
    font-weight: bold;
    color: #3C1E1E;
    background-color: #FEE500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
}
.kakaoButtonText {
    text-align: center;
    flex: 1;
}

.kakaoLoginButton:hover {
    background-color: #e5d000; /* hover 시 살짝 어두운 색상 */
}

.kakaoIcon {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
}